.bg {
	background-image: url("../../assets/images/bg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	opacity: 0.05;
}

/* .position {
	position: absolute;
	top: 30%;
	transform: translate(35%, 50%);
} */
